/* * {
  outline: 1px solid red
} */

.home {
  background-image: url("../images/background-img.jpg");
  background-repeat: no-repeat;
  height: 100vh;
}
.home__form {
  height: 300px;
  width: 50%;
  background-color:rgba(255, 255, 255, 0.5)
}