<div class="d-flex flex-wrap">
{{#each artists}}
<div class="card m-2" style="width: 18rem;">
  <img src="{{this.images.[0].url}}" class="card-img-top h-75" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{this.name}}</h5>
    <a href="#" class="btn btn-danger">Go somewhere</a>
  </div>
</div>
{{/each}}
</div>