<div class="home d-flex justify-content-center align-items-center">

<form class="home__form d-flex flex-column justify-content-center " action = "/artists">
  <div class="form-group mx-5">
    <input type="search" name="search" class="form-control form-control-lg" id="search" placeholder="Artist">
  </div>
  <button type="button" class="btn btn-danger align-self-center">Search for an Artist</button>
</form>

</div>